//typography
$pt-mono: 'PT Mon', monospace;
$roboto: 'Roboto', sans-serif;

//colors
$dark: #24282B;
$white: #F8EFFF;
$purple: #9D4EE3;
$html: #e34c26;
$css: #264de4;
$sass: #cc6699;
$git: #f34f29;
$js: #f0db4f;
$vue: #42b883;
$bs: #59287a;
