.container-cards{

    &__image{
        width: 100%;
    }
}

@media (max-width: 768px) {
    
    .container-cards{
        
        &__image{
            min-width:360px;
            max-width: 700px;
        }
    }
}